{% extends 'base.html' %}

{% block title %}Infinite Search Home{% endblock %}

{% block content %}
<section>
    <h1>Recent posts</h1>
    {% for entry in entries %}
    <article class="entry">
        <div>
            <h2 class="entry__title"><a href=" {{ url_for('post_page', post_id=entry[3]) }} " class="navbar__link">{{ entry[0] | truncate(30, true) }}</a></h2>
            <time class="entry__date" datetime={{entry[1]}}> ✦ {{ entry[2] }}</time>
        </div>
        <p class="entry__content">
            {{entry[0]}}
        </p>
    </article>
    {% endfor %}
</section>
{% endblock %}